@use '@/styles/global';

$field-color: global.$sonic-silver;
$field-bg-color: global.$white-80;
$field-error-color: global.$white;

.a-field {
    position: relative;

    input {
        color: $field-color;
        background-color: $field-bg-color;
        font-size: 20px;
        font-weight: 400;
        padding: 16px 40px 16px 80px;
        border-radius: 8px;
        width: 585px;

        &:focus {
            outline: none;
        }
    }

    img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 40px;
        width: 32px;
        height: 32px;
    }

    span {
        position: absolute;
        top: calc(100% + 8px);
        left: 0;
        color: $field-error-color;
    }
}