@use "@/styles/global" as global;

$color: (
  text: (
    briefTitle: #ffffff,
    briefReview: #ffffff,
    price: #ebbc00,
    type: #ffffff,
    typeActive: #000000,
    descriptionTitle: #ffffff,
    descriptionDesc: #ffffff,
    othersTitle: #ffffff,
    othersAll: #ffca40,
  ),
  background: (
    brief: #00000033,
    type: #ffffff80,
    typeActive: #ffffff,
    description: #ffffff26,
    others: #ffffff1a,
  ),
  line: (
    review: #ffffffcc,
  ),
);

.p-productDetail {
  @include global.flex($direction: column);
  gap: 40px;
  padding-block: 60px;

  &_info {
    @include global.flex();
    gap: 30px;

    &--img {
      .img_selected {
        width: 525px;
        aspect-ratio: 3 / 4;
        border-radius: 8px;
        margin-bottom: 24px;
      }

      .img_list {
        @include global.flex($justify: space-between);

        img {
          width: 110px;
          aspect-ratio: 3 / 4;
          border-radius: 4px;
        }
      }
    }

    &--brief {
      @include global.flex($direction: column);
      gap: 40px;
      flex-grow: 1;
      padding: 24px 44px;
      background-color: map-get(map-get($color, background), brief);

      .brief_title {
        color: map-get(map-get($color, text), briefTitle);
        font-size: 48px;
      }

      .brief_description {
        @include global.flex($direction: column);
        gap: 12px;
        flex-grow: 1;

        &--review {
          @include global.flex();
          color: map-get(map-get($color, text), briefReview);
          font-size: 32px;
          gap: 32px;

          .review_total {
            padding-inline: 32px;
            border-inline: 1px solid map-get(map-get($color, line), review);
          }

          .review_sold {
          }
        }

        &--price {
          @include global.flex();
          gap: 32px;
          color: map-get(map-get($color, text), price);
          font-size: 64px;
        }

        &--type {
          @include global.flex($align: center);

          span {
            color: map-get(map-get($color, text), type);
            font-size: 36px;
            margin-right: 48px;
          }

          .type_list {
            @include global.flex();
            gap: 16px;

            li {
              color: map-get(map-get($color, text), type);
              font-size: 32px;
              padding: 8px 24px;
              border-radius: 4px;
              background-color: map-get(map-get($color, background), type);
              cursor: pointer;

              &.active {
                color: map-get(map-get($color, text), typeActive);
                background-color: map-get(
                  map-get($color, background),
                  typeActive
                );
              }
            }
          }
        }
      }

      .brief_action {
        @include global.flex($justify: center);
        gap: 8px;
        margin-top: auto;

        button {
          width: 283px;
        }
      }
    }
  }

  &_consultant {
    @include global.flex();
    gap: 30px;
  }

  &_description {
    @include global.flex($direction: column);
    gap: 24px;
    padding: 40px;
    border-radius: 8px;
    background-color: map-get(map-get($color, background), description);
    backdrop-filter: blur(15px);

    &--title {
      color: map-get(map-get($color, text), descriptionTitle);
      font-size: 32px;
      font-weight: 400;
    }

    &--desc {
      color: map-get(map-get($color, text), descriptionDesc);
      font-size: 24px;
      font-weight: 400;
    }
  }

  &_others {
    padding: 40px;
    border-radius: 8px;
    background-color: map-get(map-get($color, background), others);

    &--title {
      @include global.flex($justify: space-between);

      p {
        color: map-get(map-get($color, text), othersTitle);
        font-size: 32px;
        font-weight: 400;
      }

      a {
        color: map-get(map-get($color, text), othersAll);
        font-size: 24px;
        font-weight: 400;
      }
    }

    &--list {
      @include global.flex($wrap: wrap);
      margin-top: 24px;
      gap: 30px;
    }
  }
}
