@use '@/styles/global' as global;

$title-color: global.$white;
$line-color: global.$white;
$bg-color: global.$white-15;
$header-height: 104px;
$login-text-color: global.$white;
$login-link-color: global.$sunglow;

.p-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - $header-height);

    &_form {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $bg-color;
        backdrop-filter: blur(15px);
        padding: 60px 80px;
        border-radius: 24px;
        width: fit-content;

        &--title {
            color: $title-color;
            font-size: 48px;
            font-weight: 400;
            line-height: 65.18px;
            text-align: center;
            width: 100%;

            &::after {
                content: "";
                display: block;
                margin-block: 32px;
                border-top: 1px solid $line-color;
            }
        }

        &--field {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            gap: 40px;
        }

        &--forgotPassword {
            margin-bottom: 32px;
        }

        &--register, &--forgotPassword {
            margin-top: 32px;
            font-size: 24px;
            line-height: 32.59px;
            font-weight: 400;

            span {
                color: $login-text-color;
            }

            a {
                color: $login-link-color;
                text-decoration: none;
                margin-left: 16px;
            }
        }
    }
    
}