@use "@/styles/global" as global;

$select-color: global.$sonic-silver;
$select-bg-color: global.$white-80;

.p-consultant {
    &_search {
        @include global.flex();
        gap: 16px;
        margin-bottom: 40px;

        select {
            border-radius: 8px;
            padding: 16px 40px;
            color: $select-color;
            font-size: 20px;
            font-weight: 400;
            appearance: none;
            background-color: $select-bg-color;

            &:focus {
                outline: none;
            }
        }
    }

    &_list {
        @include global.flex($wrap: wrap);
        gap: 30px;
    }
}